@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  padding: 0px 10px;
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  font-size: small;
}
